

<div id="tabs-{{ paragraph.id() }}" class="tabs">
  <ul class="tab_index_list">
    {% for tab in paragraph.field_tabs %}
      <li>
        <img src="{{ file_url(tab.entity.fields.field_icono.entity.uri.value) }}">
        {{ tab.entity.fields.field_titulo.value }}
      </li>
    {% endfor %}
  </ul>
  <ul class="tab_content_list">
    {% for tab in paragraph.field_tabs %}
      <li>
        {{ tab.content['#paragraph'].field_contenido.0 }}
      </li>
    {% endfor %}
  </ul>
</div>
