.we-mega-menu-submenu.cables li.we-mega-menu-li.aereo 				{ background: url('/libraries/brokable/assets/cable_icons/aereo.png'); }
.we-mega-menu-submenu.cables li.we-mega-menu-li.altatemperatura 	{ background: url('/libraries/brokable/assets/cable_icons/altatemperatura.png'); }
.we-mega-menu-submenu.cables li.we-mega-menu-li.armado 			{ background: url('/libraries/brokable/assets/cable_icons/armado.png'); }
.we-mega-menu-submenu.cables li.we-mega-menu-li.automotriz 		{ background: url('/libraries/brokable/assets/cable_icons/automotriz.png'); }
.we-mega-menu-submenu.cables li.we-mega-menu-li.bus 				{ background: url('/libraries/brokable/assets/cable_icons/bus.png'); }
.we-mega-menu-submenu.cables li.we-mega-menu-li.coaxial 			{ background: url('/libraries/brokable/assets/cable_icons/coaxial.png'); }
.we-mega-menu-submenu.cables li.we-mega-menu-li.control 			{ background: url('/libraries/brokable/assets/cable_icons/control.png'); }
.we-mega-menu-submenu.cables li.we-mega-menu-li.ferroviario 		{ background: url('/libraries/brokable/assets/cable_icons/ferroviario.png'); }
.we-mega-menu-submenu.cables li.we-mega-menu-li.festoon 			{ background: url('/libraries/brokable/assets/cable_icons/festoon.png'); }
.we-mega-menu-submenu.cables li.we-mega-menu-li.fibraoptica 		{ background: url('/libraries/brokable/assets/cable_icons/fibraoptica.png'); }
.we-mega-menu-submenu.cables li.we-mega-menu-li.flexible 			{ background: url('/libraries/brokable/assets/cable_icons/flexible.png'); }
.we-mega-menu-submenu.cables li.we-mega-menu-li.fuerza 			{ background: url('/libraries/brokable/assets/cable_icons/fuerza.png'); }
.we-mega-menu-submenu.cables li.we-mega-menu-li.goma 				{ background: url('/libraries/brokable/assets/cable_icons/goma.png'); }
.we-mega-menu-submenu.cables li.we-mega-menu-li.iluminacion 		{ background: url('/libraries/brokable/assets/cable_icons/iluminacion.png'); }
.we-mega-menu-submenu.cables li.we-mega-menu-li.instrumentacion 	{ background: url('/libraries/brokable/assets/cable_icons/instrumentacion.png'); }
.we-mega-menu-submenu.cables li.we-mega-menu-li.lan 				{ background: url('/libraries/brokable/assets/cable_icons/lan.png'); }
.we-mega-menu-submenu.cables li.we-mega-menu-li.lszh 				{ background: url('/libraries/brokable/assets/cable_icons/lszh.png'); }
.we-mega-menu-submenu.cables li.we-mega-menu-li.marino 			{ background: url('/libraries/brokable/assets/cable_icons/marino.png'); }
.we-mega-menu-submenu.cables li.we-mega-menu-li.mediovoltaje 		{ background: url('/libraries/brokable/assets/cable_icons/mediovoltaje.png'); }
.we-mega-menu-submenu.cables li.we-mega-menu-li.militar 			{ background: url('/libraries/brokable/assets/cable_icons/militar.png'); }
.we-mega-menu-submenu.cables li.we-mega-menu-li.mineria 			{ background: url('/libraries/brokable/assets/cable_icons/mineria.png'); }
.we-mega-menu-submenu.cables li.we-mega-menu-li.pvc 				{ background: url('/libraries/brokable/assets/cable_icons/pvc.png'); }
.we-mega-menu-submenu.cables li.we-mega-menu-li.portaelectrodo 	{ background: url('/libraries/brokable/assets/cable_icons/portaelectrodo.png'); }
.we-mega-menu-submenu.cables li.we-mega-menu-li.pruebadefuego 		{ background: url('/libraries/brokable/assets/cable_icons/pruebadefuego.png'); }
.we-mega-menu-submenu.cables li.we-mega-menu-li.residencial 		{ background: url('/libraries/brokable/assets/cable_icons/residencial.png'); }
.we-mega-menu-submenu.cables li.we-mega-menu-li.solar 				{ background: url('/libraries/brokable/assets/cable_icons/solar.png'); }
.we-mega-menu-submenu.cables li.we-mega-menu-li.sumergible 		{ background: url('/libraries/brokable/assets/cable_icons/sumergible.png'); }
.we-mega-menu-submenu.cables li.we-mega-menu-li.telefonico 		{ background: url('/libraries/brokable/assets/cable_icons/telefonico.png'); }
.we-mega-menu-submenu.cables li.we-mega-menu-li.termopar 			{ background: url('/libraries/brokable/assets/cable_icons/termopar.png'); }

.navbar-we-mega-menu .nav-tabs {
  display: inline-block;
}

.we-mega-menu-li.brokable-principal,
.we-mega-menu-li.brokable-principal span,
.we-mega-menu-li.brokable-principal .we-mega-menu-submenu {
  background: var(--blanco);
  color: var(--negro);
  border: none;
}

.we-mega-menu-li.brokable-principal span,
.we-mega-menu-ul > .we-mega-menu-li,
.we-mega-menu-li.brokable-principal .we-mega-menu-submenu li.we-mega-menu-li span {
  font-size: 1em;
}

.we-mega-menu-submenu.cables li.we-mega-menu-li {
  background-repeat: no-repeat !important;
  background-size: 24px !important;
  background-position: 24px 9px !important;
}

.we-mega-menu-li.brokable-principal .we-mega-menu-submenu li.we-mega-menu-li {
  padding: 8px;
  transition: 0.3s;
  cursor: pointer;
  border-bottom: solid 1px var(--gris1);
  margin-top: 8px;
}

.we-mega-menu-li.brokable-principal .we-mega-menu-submenu li.we-mega-menu-li span {
  border: none;
}

.we-mega-menu-li.brokable-principal .we-mega-menu-submenu.cables li.we-mega-menu-li span {
  padding-left: 64px;
  color: inherit;
}

.we-mega-menu-li.brokable-principal:hover > span,
.we-mega-menu-li.brokable-principal > .we-mega-menu-submenu li.we-mega-menu-li:hover {
  background-color: var(--azul);
  color: var(--blanco);
}

.we-mega-menu-li.brokable-principal > .we-mega-menu-submenu li.we-mega-menu-li:hover span {
  color: var(--blanco);
}


.region.region-navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

div#block-bootstrap-search {
  margin-left: 76px;
  width: 300px;
}

.navbar-header {
  width: 100%;
}

nav.brokable-principal {
  margin: 0;
  border: none;
}

div#block-bootstrap-search .form-item {
  margin: 0;
}

div#block-bootstrap-search input[type="search"] {
  border: none;
  color: var(--gris2);
  background: var(--gris1);
  font-family: var(--font-1);
  box-shadow: unset;
}

div#block-bootstrap-search span.input-group-btn button {
  background: var(--gris1);
  border-color: var(--gris1);
  border-left: solid 1px var(--gris2);
  color: var(--gris2);
}

.region-navigation a.logo.navbar-btn.pull-left {
  background: var(--azul);
  width: 150px;
  padding: 16px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 8vw;
  top: 0;
  margin: 0;
  z-index: 1;
}

header#navbar {
  border: none;
  padding: 0 64px;
}
