.main_slider {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.main_slider > .slick,
.main_slider > .slick > .slick__slider,
.main_slider > .slick > .slick__slider > .slick-list,
.main_slider > .slick > .slick__slider > .slick-list > .slick-track,
.main_slider > .slick > .slick__slider > .slick-list > .slick-track > .slick__slide,
.main_slider > .slick > .slick__slider > .slick-list > .slick-track > .slick__slide > .slide__content,
.main_slider > .slick > .slick__slider > .slick-list > .slick-track > .slick__slide > .slide__content > .media--slick {
  height: 100%;
  position: relative;
}

.main_slider > .slick > .slick__slider > .slick-list > .slick-track > .slick__slide > .slide__content > .media--slick > img {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
