:root{--blanco:#F9FFF9;--gris:#E1DFE2;--negro:#050504;--azul:#1074BF;--font-1:'Roboto Condensed',sans-serif;--container-mw:calc(100% - 64px);--container-w:100%;}body{font-family:var(--font-1);background:var(--blanco);color:var(--negro);background:var(--blanco);}.navbar.container{max-width:var(--container-mw);width:var(--container-w);background:inherit;}
