:root{--blanco:#FAFAFA;--gris-1:#E1DFE2;--gris-2:#424242;--negro:#3A3A3A;--azul:#1E73BE;--font-1:'Roboto Condensed',sans-serif;--container-mw:calc(100% - 64px);--container-w:100%;}body{font-family:var(--font-1);background:var(--blanco);color:var(--negro);background:var(--blanco);}.navbar.container{max-width:var(--container-mw);width:var(--container-w);background:inherit;}
