:root {
  /*--------------------------------- colores --------------------------------*/
  --blanco:     #FAFAFA;
  --blanco-75:  #FAFAFABF;
  --blanco-25:  #FAFAFA40;

  --gris1:      #E1DFE2;
  --gris1-75:   #E1DFE2BF;
  --gris1-25:   #E1DFE240;

  --gris2:      #424242;
  --gris2-75:   #424242BF;
  --gris2-25:   #42424240;

  --negro:      #3A3A3A;
  --negro-75:   #3A3A3ABF;
  --negro-25:   #3A3A3A40;

  --azul:       #1E73BE;
  --azul-75:    #1E73BEBF;
  --azul-25:    #1E73BE40;

  /*--------------------------------- fuentes --------------------------------*/
  --font-1: 'Roboto Condensed', sans-serif;

  /*--------------------------- tamaños de fuente ----------------------------*/
  --body-fs: 14px;
  --h1: 3em;
  --h2: 2.25em;
  --h3: 1.75em;
  --h4: 1.125em;

  --h1-tablet: 2.5em;
  --h2-tablet: 2em;
  --h3-tablet: 1.5em;
  --h4-tablet: 1.125em;

  --h1moile: 2em;
  --h2moile: 1.625em;
  --h3moile: 1.375em;
  --h4moile: 1.125em;

  /*--------------------------------- anchos ---------------------------------*/
  --container-mw: calc(100% - 64px);
  --container-w: 100%;
}
