body {
  max-width: 100vw;
  padding: 0;
  margin: 0;
  position: relative;
  overflow-x: hidden;
}

.navbar.container {
  max-width: var(--container-mw);
  width: var(--container-w);
  background: inherit;
}

.main-container > .row > .col-sm-12 {
  padding: 0;
}

/*------------------------------- aspect ratio -------------------------------*/
[class*="aspect-ratio-"] {
  position: relative;
  width: 100%;
}
/* Casos:
      16 : 9,
       4 : 3,
       1 : 1,
       4 : 1,
       2 : 1,
  Se calcula con (100 / x) * y
  Los hijos directos, deben estar posicionados en absoluto para que funcione
*/
.aspect-ratio-4-1     {    padding-bottom: 25%;          }
.aspect-ratio-2-1     {    padding-bottom: 50%;          }
.aspect-ratio-16-9    {    padding-bottom: 56.25%;       }
.aspect-ratio-4-3     {    padding-bottom: 75%;          }
.aspect-ratio-1-1     {    padding-bottom: 100%;         }
.aspect-ratio-3-4     {    padding-bottom: 133.33333%;   }
.aspect-ratio-9-16    {    padding-bottom: 177.77778%;   }
.aspect-ratio-1-2     {    padding-bottom: 200%;         }
.aspect-ratio-1-4     {    padding-bottom: 400%;         }
